<section id="intro" class="wrapper style1 fullscreen fade-up">
  <div class="inner">
    <h1>{{title}}</h1>
    <p>We began in 2000, as a consulting firm delivering IT strategy and architecture services to some of the world’s largest banks and payments companies. Since then we have understood the changing needs of our customers and evolved into an IT Services organisation built on a foundation of industry expertise, engineering excellence and offshore delivery, committed to providing challenging and rewarding careers for the people who work for us. With offices in Western Europe and North America, and delivery centers in Central Europe and Latin America we have developed a set of services and propositions that support our customers on their journey from initial idea through to production, enabling them to become more engaging, responsive and efficient, and get relevant products and services to their customers faster, with a higher degree of quality than their competition.</p>
      <ul class="actions">
      <li><a href="/contact" class="button scrolly">Contact Us Anyways</a></li>
    </ul>
  </div>
</section>
